* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 1.21;
  margin: 0;
  padding: 0;
  font-weight: 300;
  letter-spacing: 1.2px;
}

body {
  background-color: #f0efef;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 45px 0 80px 0;
}

.button {
  padding: 20px 44px;
  background-color: #de5114;
  border: none;
  border-radius: 37px;
  box-shadow: 0px 6px 4px 0 rgba(0, 0, 0, 0.14);
  color: #fff;
}

.button:hover {
  background-color: #ff6929;
}

.title {
  font-size: 54px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media (max-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 700px;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .title {
    font-size: 40px;
  }
  .container {
    max-width: 90%;
  }
}
