.works .title {
  color: #4e888c;
}

.content.hidden {
  display: none;
}

.block {
}

.content__item-title {
  font-size: 24px;
  color: #a55634;
  font-weight: normal;
}

.content__item-text,
.content__item span {
  font-family: GillSans;
  font-size: 20px;
  color: #4e888c;
  font-style: italic;
  font-weight: 600;
}

.content__item span {
  display: inline-block;
}

.content__item span span {
  color: #a55634;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories__item {
  font-size: 24px;
  color: #4e888c;
  text-decoration: none;
}

.content {
  margin-top: 40px;
}

.content__row {
}
